body {
    font-family: Arial;
    font-size: 12px;
    line-height: 1.5;
}

html, body {
    background: url(img/dashboard/left_bg.png) repeat-y -40px top #ebefef;
}

html.close, html.close body {
	background: #e2e9ea;
}

.header {
    background: #3a6da4;
    height: 49px;
    overflow: hidden;
}

.header .logo {
    float: left;
    margin-right: 20px;
    padding: 8px 0 0 0;
}

.header .logo a {
    display: block;
    text-decoration: none;
    height: 40px;
    width: 140px;
    background: url(img/dashboard/logo.gif) no-repeat;
}

.header .admin_info {
    padding: 6px 14px 0 0;
    color: #fff;
}

.header .admin_info a {
    text-decoration: none;
    color: #fff;
}

.header .top_menu {
    display: inline-block;
    height: 34px;
    margin-top: 15px;
    position: relative;
}

.top_menu li,
.top_menu li a {
    background: url(img/dashboard/nav_bg.png) no-repeat;
    display: block;
    _float: left;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.top_menu li {
    float: left;
    padding: 0 0 0 8px;
}

.top_menu li a {
    background-position: right top;
    padding: 0 15px 0 7px;
}

.top_menu li.on {
    background-position: left -43px;
}

.top_menu li.on a {
    background-position: right -43px;
    color: #367abb;
}

/* left menu */
.left_side {
    margin-right: 8px;
    padding: 8px;
    display: block;
    position: relative;
    width: 118px;
}

.left_side_off {
	width: 0;
	padding: 0;
}

.left_side_off div {
	visibility: hidden;
	_display: none;
}

.left_side a.left_hide, .left_side a.left_show {
    background: url(img/dashboard/left_menu_toggle.png) no-repeat 1px center;
    width: 8px;
    display: block;
    position: absolute;
    z-index: 100;
    height: auto;
    right: -9px;
    top: 0;
}

.left_side a.left_show {
	background-position: right center;
}

.left_menu ul li a:hover,
.left_menu ul li.on, .left_menu h3 span {
    background: url(img/dashboard/left_menu.png) no-repeat;
    text-decoration: none;
}

.left_menu h3 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #275d96;
    border-bottom: 1px solid #d9e4ea;
    line-height: 24px;
    height: 24px;
    margin-bottom: 4px;
    position: relative;
}

.left_menu h3 span {
    background-position: left -78px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 14px;
    width: 14px;
    margin-top: 5px;
}

.left_menu h3 span.on {
    background-position: -33px -78px;
}

.left_menu ul li a {
    line-height: 24px;
    padding-left: 8px;
    display: block;
    text-decoration: none;
    background-color: #f7fbfc;
    _width: 100px;
    outline: none;
}

.left_menu ul li a:hover {
    background-position: left -38px;
}

.left_menu ul li.on {
    width: 104px;
    _width: 78px;
    height: 29px;
    padding-left: 20px;
    margin: 0;
}

.left_menu ul li.on a {
    height: 29px;
    line-height: 29px;
    background: none;
    padding: 0;
    display: block;
}

.left_menu ul li.on a:hover {
    background: none;
}


/* end left side */

.main {
	overflow: hidden;
    _zoom: 1;
    _float: left;
}

.loading {
	background: url(img/dashboard/ajax_loading.gif) no-repeat;
	padding-left: 30px;
	line-height: 20px;
}

.ajax_loading {
	color: #fff;
	padding: 2px 5px 2px 25px;
	background: #ff5151 url(img/dashboard/ajax_loading.gif) no-repeat 3px 2px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.subnav {
	padding: 10px;
}

.content_menu { 
	padding:0 0 6px;
}

.content_menu a:hover {
	text-decoration: none;
}

.content_menu a em {
	display:inline-block;
	display:-moz-inline-stack;
	zoom:1;
	*display:inline;
}

.content_menu a.bnt,.content_menu a.bnt em,
.content_menu a.on,.content_menu a.on em {
	background:url(img/dashboard/bnt_bg.png) no-repeat;
	height:28px;
	line-height:28px;
	*line-height:28px
    outline: none;
}

.content_menu span {
	color:#ddd;
	padding:0 8px;
}

.content_menu a {
	cursor:pointer;
}

.content_menu a.bnt {
   	padding:0 0 0 5px;
}

.content_menu a.bnt em {
   	padding:0 10px 0 5px;
	color:#fff;
	background-position: right top;
	background-position:right -1px\0;
}

.content_menu a.on {
	background-position:left -40px;
	*background-position:left -41px;
	_background-position:left -39px;
	color:#fff;
	padding:0 0 0 5px;
}

.content_menu a.on em {
	background-position:right -40px;
	background-position:right -41px\0;
	*background-position:right -41px;
	_background-position:right -39px;
	padding:0 10px 0 5px;
}

/* crumbs -- sub tab */
.crumbs {
	height: 26px;
	position: relative;
}

.refresh, .full_screen, .unfull_screen,
.mtab_prev, .mtab_next, .mtab_nopre, .mtab_nonext, .mtab_h li, .del {
    background: url(img/dashboard/options_ico.png) no-repeat;
    _background: url(img/dashboard/options.gif) no-repeat;
}

.options {
    background: url(img/dashboard/options.png) no-repeat;
    height: 20px;
    overflow: hidden;
    width: 179px;
    position: absolute;
    top: 3px;
    right: 10px;
}

.options a {
    float: left;
    font-style: normal;
    height: 18px;
    line-height: 18px;
    margin-top: 1px;
    overflow: hidden;
    text-decoration: none;
    outline: none;
}

.options a:hover {
    background-color: #f2f2f2;
}

.refresh {
    background-position: -61px 2px;
    text-indent: -2000em;
    width: 29px;
}

.full_screen, .unfull_screen {
    background-position: 8px 3px;
    text-indent: -2000em;
    width: 27px;
}

.unfull_screen {
    background-position: -27px 3px;
}

.restart, .dashboard_map {
    width: 60px;
    color: #989898;
    text-align: center;
}

.dashboard_map {
    width: 62px;
}

.main_tab {
    margin: 0 214px 0 24px;
}

.mtab_prev, .mtab_next {
    width: 24px;
    height: 26px;
    display: block;
    position: absolute;
    overflow: hidden;
    text-indent: -2000em;
}

.mtab_prev {
    background-position: 9px -16px;
    top: 0;
    left: 0;
}

.mtab_next {
    background-position: -5px -16px;
    top: 0;
    right: 190px;
}

.mtab li {
    border-left: 1px solid #dedede;
    display: inline-block;
    height: 26px;
    overflow: hidden;
    float: left;
}

.mtab li span {
    display: inline-block;
    line-height: 26px;
    height: 26px;
    padding: 0 10px 0 15px;
    cursor: pointer;
}

.mtab li span:hover {
    background: #e6ebeb;
}

.mtab li a {
    outline: none;
    float: left;
    color: #666;
    padding-right: 8px;
    text-decoration: none;
    _line-height: 30px;
}

.mtab li .del {
    width: 7px;
    height: 7px;
    overflow: hidden;
    display: block;
    text-indent: -2000em;
    background-position: -58px -24px;
    margin: 10px 0 0 0;
    padding: 0;
    position: relative;
}

.mtab li .del:hover {
    background-position: -65px -24px;
}

.mtab li.current .del {
    background-position: -74px -24px;
}

.mtab li.current .del:hover {
    background-position: -81px -24px;
}

.mtab li.current span {
    background: #89a5ea;
}

.mtab li.current a {
    color: #fff;
}

.main_content {
	background: #fff;
	border: 1px solid #c2d1d8;
	position: relative;
}

/* botton */
.btn {
    color: #333;
    background: #f1f0f0;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    padding: 4px 15px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    text-align: center;
    zoom: 1;
    white-space: nowrap;
    margin-right: 10xp;
    font-family: inherit;
    position: relative;
}

.btn:hover {
    background: #e9e7e7;
}

.btn_submit {
    color: #fff;
    background: #318dd0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #106bab #106bab #0d68a9;
}

.btn_submit:hover {
    background: #3486c1;
}

/* bottom button */
.btn_wrap, .bottom_buttons {
    padding: 4px 10px;
    background: #ffffe1;
    line-height: normal;
    border-top: 1px #a5bcf4 solid;
}

.bottom_buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    _position: absolute;
    _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
}

/* table list */
.table_list {
    border:1px solid #d5dfe8;
    margin-bottom: 40px;
}

.table_list table {
    width: 100%;
}

.table_list td,.table_list th {
    padding:0 4px;
}

.table_list thead th {
    height:30px;
    background:#eaf0f7;
    font-weight:normal;
    font-weight:700;
}

.table_list tbody td {
    border-top:1px solid #d5dfe8;
    padding:4px 4px;
    line-height:24px;
}

.table_list tr:hover,.table_list table tbody tr:hover {
    background:#ffffe1;
}

.table_list .input-text-c {
    padding:0;
    height:18px;
}

.input-text-c {
    border:1px solid #A7A6AA;
    height:18px;
    padding:2px 0 0;
    text-align:center;
}

.table_list tr.on,.table_list tr.on td,.table_list tr.on th,.table_list td.on,.table_list th.on {
    background:#fdf9e5;
}

table.treetable span.indenter {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  width: 19px;
}

/*
table.treetable span.indenter a {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  width: 19px;
  outline: none;
}

table.treetable tr td .indenter {
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    zoom: 1;
}

table.treetable tr.collapsed td .indenter {
    background-image: url(img/dashboard/tv-expandable.gif);
}

table.treetable tr.expanded td .indenter {
    background-image: url(img/dashboard/tv-collapsable.gif);
}
    */

/* form and form input */
.table_form {
    width: 100%;
}

.table_form td {
    padding-left: 12px;
}

.table_form td label {
    vertical-align: middle;
}

.table_form td, .table_form th {
    padding: 8px 0 8px 8px;
}

.table_form thead th {
    color: #777;
    padding: 5px 0 5px 8px;
    background: #eaf0f7;
    font-weight: normal;
    font-weight: 700;
    border-bottom: 1px solid #eee;
}

.table_form tbody td, .table_form tbody th {
    border-bottom: 1px solid #eee;
}

.colorpanel tbody td, .colorpanel tbody th {
    padding: 0;
    border-bottom: none;
}

.table_form tbody th {
    font-weight: normal;
    text-align: right;
    padding-right: 10px;
    color: #777;
}

.input_text, .measure_input, textarea, input.date, input.end_date, .input_focus {
    border: 1px solid #a7a6aa;
    height: 18px;
    padding: 2px 0 2px 5px;
    border: 1px solid #d0d0d0;
    background: #fff url(img/dashboard/input.png) repeat-x;
    font-family: Verdana, Geneva, sans-serif, "宋体";
    font-size: 12px;
}

/* form validate */
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime {
    display:inline-block;
    display:-moz-inline-stack;
    zoom:1;
    *display:inline;
    vertical-align:middle;
    background:url(img/dashboard/msg_bg.png) no-repeat;
    color:#444;
    line-height:18px;
    padding:2px 10px 2px 23px;
    margin-left:10px;
    _margin-left:5px;
}

.onShow {
    background-position:3px -147px;
    border-color:#40B3FF;
    color:#959595;
}

.onFocus {
    background-position:3px -147px;
    border-color:#40B3FF;
}

.onError {
    background-position:3px -47px;
    border-color:#40B3FF;
    color:red;
}

.onCorrect {
    background-position:3px -247px;
    border-color:#40B3FF;
}

.onLamp {
    background-position:3px -200px;
}

.onTime {
    background-position:3px -1356px;
}

