{% load i18n %}

<form id="id_{{ form_name }}_form" action="/contact/" method="post">
	<table class="table_form">
		{% for field in form %}
		<tr>
			<th>{{ field.label_tag }}</th>
			<td>{{ field }}</td>
		</tr>
		{% endfor %}
	</table>
</form>

<script type="text/javascript">
$.formValidator.initConfig({
	formid: 'id_{{ form_name }}_form',
	autotip: true
});
{% for name, validator in validators.items %}
$('#id_{{ name }}').formValidator({
	onshow: 'Please input {{ name }} name',
	onfocus: 'Please input {{ name }} name',
	oncorrect: 'Input right',
}).inputValidator({
	{{ validator|safe }}
});
{% endfor %}
</script>
