{% load getattr %}

{% if tools %}
<div class="subnav">
	<div class="content_menu ib_a blue line_x">
	{% for tool in tools %}
	<a href="{{ tool.2 }}" class="fb {% if tool.1 %}bnt{% endif %}">
		{% if tool.1 %}
		<em>{{ tool.0 }}</em>
		{% else %}
		{{ tool.0 }}
		{% endif %}
	</a>
	{% endfor %}
	</div>
</div>
{% endif %}

<div class="pad_lr_10">
	<div class="table_list">
		<table>
			<thead>
				<tr>
					<th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
					<th width="40"><span tdtype="order_by" fieldname="id">ID</span></th>
					{% for item in columns %}
					<th>{{ item }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for obj in objs %}
				<tr>
					<td align="center"><input type="checkbox" value="{{ obj.id }}" class="J_checkitem"></td>
					<td align="center">{{ obj.id }}</td>
						{% for col in list_display %}
					<td align="center">{{ obj|getattr:col }}</td>
						{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('.bnt').click(function() {
		var dom = $(this);
		var url = dom.attr("href");
		$.ajax(url, data={_popup: true}).done(function(data) {
			$.dialog({
				title: dom.find('em').text(),
				padding: null,
				content: data,
				ok: function() {
				},
				cancel: function() {
				}
			});
		});
		return false;
	});
});
</script>
