{% load getattr %}

{% if tools %}
<div class="subnav">
	<div class="content_menu ib_a blue line_x">
	{% for tool in tools %}
	<a href="{{ tool.2 }}" class="fb {% if tool.1 %}showdialog bnt{% endif %}" data-title="{{ tool.0 }}">
		{% if tool.1 %}
		<em>{{ tool.0 }}</em>
		{% else %}
		{{ tool.0 }}
		{% endif %}
	</a>
	{% endfor %}
	</div>
</div>
{% endif %}

<div class="pad_lr_10">
	<div class="table_list">
		<table id="{{ table_id }}" class="treetable">
			<thead>
				<tr>
					<th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
					<th width="40"><span tdtype="order_by" fieldname="id">ID</span></th>
					{% for item in columns %}
					<th>{{ item }}</th>
					{% endfor %}
					<th width="180">管理操作</th>
				</tr>
			</thead>
			<tbody>
				{% for obj in objs %}
				<tr data-tt-id="{{ obj.item.id }}" data-tt-parent-id="{{ obj.item.parent.id }}">
					<td align="center"><input type="checkbox" value="{{ obj.item.id }}" class=""></td>
					<td align="center">{{ obj.item.id }}</td>
						{% for col in list_display %}
					<td align="{% if not forloop.first %}center{% endif %}">{{ obj.item|getattr:col }}</td>
						{% endfor %}
					<td align="center">
					{% for action in obj.actions %}
					<a href="{{ action.2 }}" class="{% if action.1 %}showdialog{% endif %}" data-title="{{ action.0 }}">{{ action.0 }}</a>
					{% if not forloop.last %}
					|
					{% endif %}
					{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
$(function() {
	$('#{{ table_id }}').treetable({ expandable: true, intent: 20, column: 2 });
});
</script>
